.git
**/.dart_tool
**/build
**/.idea
**/.vscode
**/node_modules
**/.gradle
**/android/.certs
**/android/local.properties
**/*.apk
**/*.aab
**/*.iml
**/coverage
docs
server/data
server/certs
server/dist
server/node_modules
**/ephemeral
**/.flutter-plugins-dependencies
